<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>Welcome to pragmatic store, the best place that you can find any Ruby and Rails book...</p>
</div>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
	<h1><%= t('.title_html') %> <small>What are you looking for?</small></h1>
</div>

<table class="table">
	<% @products.each do |product| %>
	<tr>
		<td><%= image_tag(product.image_url) %></td>
		<td>
			<h3><%= product.title %></h3>
			<%= sanitize(product.description) %>
			<div class="price_line">
				<span class="price"><%= number_to_currency(product.price) %></span>
				<%= button_to t('.add_html'), line_items_path(product_id: product), remote: true, class: 'btn pull-right' %>
			</div>
		</td>
	</tr>
	<% end %>
</table>